
modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["NODE_ENV=production", "npm", "run", "build"]
run = "npm run start"

[[deployment.rewrites]]
from = "/api/*"
to = "/api/*"

[[deployment.rewrites]]
from = "/*"
to = "/index.html"

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = ["typescript-language-server", "--stdio"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 3001
